%h1 Listing all points
%table
  %thead
    %tr
      %th Nombre
      %th Ciudad
      %th Descripcion
      -#Faction
      %th Tiempo mínimo de check-in
      %th Edit
      %th Elimnar
  %tbody
    - if @points.blank?
      %tr
        %td{:colspan => "6"}
          %em No se han encontrado puntos de interés
    - @points.each do |point|
      %tr
        %td= point.name
        %td= point.city.name
        / Declarado en el modelo
        %td= point.description
        %td= point.minCheckInTime
        %td= link_to 'editar', edit_point_url(point)
        %td
          = link_to [point], method: :delete do
            Eliminar
