<div class="panel">
      <div class="title-box">
            Puntos de interés:
      </div>
      <div class="content-box">
            <table>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Ciudad</th>
                              <% #Faction_id %>
                              <th> Tiempo mínimo de check-in </th>
                        </tr>
                  </thead>
                  <tbody>
                        <% if @points.blank? %>
                        <tr>
                              <td >
                                    <em>No se han encontrado puntos de interés</em>
                              </td>
                        </tr>
                        <% end %>
                        <% @points.each do |p| %>
                        <tr>
                              <td>
                                    <%= link_to "#{p.name}", p %>
                              </td>
                              <td>
                                    <%= link_to "#{p.city.name}", p.city %>
                              </td>

                              <td>
                                    <%= p.minCheckInTime %>
                              </td>
                              <td>
                                    <%  if @points_user.find_by(point_id: p.id, user_id: @user.id) == nil%>
                                    <div class='get'>
                                          <%= button_to "check in", user_check_in_path(p.id), :method => "post" %>
                                    </div>
                                    <% end %>
                                    <% if @points_user.find_by(point_id: p.id, user_id: @user.id) %>
                                    <div class='use'>
                                          <%= button_to " check out", user_check_out_path(p.id), :method => "post" %>
                                    </div>
                                    <% end %>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>
</div>
