%h1 Showing a point
%table
  %thead
    %tr
      %th Nombre
      %th Ciudad
      %th Descripción
      %th Tiempo mínimo de check-in
      %th Edit
      %th Elimnar
  %tbody
    - if @point.blank?
      %tr
        %td{:colspan => "6"}
          %em No se ha encontrado el punto de interés
    - else
      %tr
        %td= @point.name
        %td= @point.city.name
        / Declarado en el modelo
        %td= @point.description
        %td= @point.minCheckInTime
        %td= link_to 'editar', edit_point_url(@point)
        %td
          = link_to [@point], method: :delete do
            eliminar
