<div class="field">
      <div class="col-md-3">
            <%= f.label :name, 'Nombre', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
</div>
<div class="field">
      <div class="col-md-3">
            <%= f.label :username, 'Username', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.text_field :username, class: 'form-control', required: true %>
      </div>
</div>
<div class="field">
      <div class="col-md-3">
            <%= f.label :password, 'e-mail', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.text_field :email, class: 'form-control', required: true %>
      </div>
</div>
<div class="field">
      <div class="col-md-3">
            <%= f.label :password, 'Password', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.password_field :password, class: 'form-control', required: true %>
      </div>
</div>
<div class="field">
      <div class="col-md-3">
            <%= f.label :password_confirmation, 'Confirmation', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
      </div>
</div>
<div class="field">
      <div class="col-md-3">
            <%= f.label :avatar, 'Asigna una foto de perfil', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.file_field :avatar %>
      </div>
</div>
