<div class="panel">
      <%if @faction == nil%>
      <div class="title-box">
            Usuarios del juego <!--TODO: En lo posible agregar search-box-->
      </div>
      <div class="content-box">
            <% if @users.blank? %>
            <tr>
                  <td colspan="6">
                        <em>No se han encontrado usuarios en el juego</em>
                  </td>
            </tr>
            <% else %>
            <table>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Username</th>
                              <th></th>
                        </tr>
                  </thead>
                  <tbody>

                        <% @users.each do |user| %>
                        <tr>
                              <td>
                                    <%= user.name %>
                              </td>
                              <td>
                                    <%= user.username %>
                              </td>
                              <td>
                                    <%= link_to 'ir a mi perfil', user_path(user) if user.id == session[:user_id] %>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>
      <% end %>

      <%
else #FIXME: mala prácitca? Debe haber un modo mejor. 2 vistas?
      %>

      <div class="title-box">
            Usuarios pertenecientes a <%=@faction.name%>
      </div>
      <div class="content-box">
            <% if @faction.users.blank? %>
            <tr>
                  <td colspan="6">
                        <em>Esta facción no registra usuarios</em>
                  </td>
            </tr>
            <% else %>
            <table>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Username</th>
                              <th></th>
                        </tr>
                  </thead>
                  <tbody>

                        <% @faction.users.each do |user| %>
                        <tr>
                              <td>
                                    <%= user.name %>
                              </td>
                              <td>
                                    <%= user.username %>
                              </td>
                              <td>
                                    <%= link_to 'ir a mi perfil', user_path(user) if user.id == session[:user_id] %>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
            <% end %>
      </div>
      <%end%>
</div>
