<div class="panel">
      <%if @faction == nil%>
      <div class="title-box">
            Usuarios del juego <!--TODO: En lo posible agregar search-box-->
      </div>
      <div class="content-box">
            <% if @users.blank? %>
            <tr>
                  <td >
                        <em>No se han encontrado usuarios en el juego</em>
                  </td>
            </tr>
            <% else %>
            <table>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Username</th>
                        </tr>
                  </thead>
                  <tbody>

                        <% @users.each do |u| %>
                        <tr>
                              <td>
                                    <%= link_to "#{u.name}", u %>
                              </td>
                              <td>
                                    <%= link_to "#{u.username}", u %>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>
      <% end %>

      <%else  %>

      <div class="title-box">
            Usuarios pertenecientes a <%=@faction.name%>
      </div>
      <div class="content-box">
            <% if @faction.users.blank? %>
            <tr>
                  <td>
                        <em>Esta facción no registra usuarios</em>
                  </td>
            </tr>
            <% else %>
            <table>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Username</th>
                        </tr>
                  </thead>
                  <tbody>

                        <% @faction.users.each do |u| %>
                        <tr>
                              <td>
                                    <%= link_to "#{u.name}", u %>
                              </td>
                              <td>
                                    <%=link_to "#{u.username}", u %>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
            <% end %>
      </div>
      <%end%>
</div>
