= @user = User.find(session[:user_id])
-# Estoy haciendo trampa, pero no se carga desde el controller. FIXME.
.modal-dialog#map-modal
  %ul.errors
  .modal-content
    = form_for @point, method: "post", remote: true,:url => points_path(:format => :js) ,html: {class: 'form-horizontal' } do |f|
      .modal-body
        .field
          .col-md-3
            = f.label :name, 'Nombre', class: 'control-label'
          .col-md-9
            = f.text_field :name, class: 'form-control', required: true

        .field
          .col-md-9
            = f.hidden_field :city_id, :value => @user.administrated_city_id

        .field
          .col-md-3
            = f.label :minCheckInTime, 'Tiempo mínimo para el próximo Check-In', class: 'control-label'
          .col-md-9
            = f.text_field :minCheckInTime, class: 'form-control', required: true


        .field
          .col-md-3
            = f.label :description, 'Description', class: 'control-label'
          .col-md-9
            = f.text_area :description, class: 'form-control', required: true

        =f.hidden_field :x, id: "point-x"
        =f.hidden_field :y, id: "point-y"

      .modal-footer
        = f.submit class: "btn btn-primary"
    = button_tag "Cancel", class: "btn close-modal", onClick: "closeModal()"
