<h1> Bienvenidx a CityConquest </h1>

ve todos los usuarios: <%= link_to "aqui", users_path  %>:
<br>
ve todos los puntos: <%= link_to "aqui", points_path  %>:
<br>
ve todas las ciudades: <%= link_to "aqui", cities_path  %>:
<br>
ve todas las facciones: <%= link_to "aqui", factions_path  %>:
<br>
ve todos los items: <%= link_to "aqui", items_path  %>:
<br>
ve todos los  user_factions: <%= link_to "aqui", user_factions_path(1)  %>:
<br>
<br>
