<div class="panel">
            <div class="title-box">

Facciones existentes:
</div>
<div class="content-box">
      <% if @factions.blank? %>
      <tr>
            <td colspan="6">
                  <em>No existen facciones</em>
            </td>
      </tr>
      <% else %>
<table>
                  <% if @factions != nil %>
      <thead>
            <tr>
                  <th>Nombre</th>
                  <th>Ciudad</th>
                  <th>Administrador</th>
                  <th>Acceso</th>
                  <th></th>
            </tr>
            <tbody>
                  <%end %>

                  <% @factions.each do |faction| %>
                  <tr>
                        <td><%= faction.name %></td>
                        <td><%= faction.city.name %></td>          <!-- Declarado en el modelo  -->
                        <td><%= faction.administrator.name %></td> <!--TODO: FIXME si un usuario se elimina, la faccion ha de cambiar de admin.-->
                        <td><%= faction.access %></td>
                        <%  if faction.administrator.id.to_s == @user.id.to_s %>
                        <td><%= link_to 'Perfil de facción', faction_path(faction) %></td>
                        </tr>
                        <% end %>
                        <% end %>
                  </tbody>
            </thead>
      </table>
      <% end %>
      
</div>
</div>
