<div class="panel">

      <%if @user.administrated_faction_id == nil%>
      <div class ="link-a-nueva-fac">
            <%= link_to "¡Crea tu faccion!", new_faction_path %>
      </div>
      <%end %>
      <div class="title-box">
            Facciones existentes:
      </div>
      <div class="content-box">
            <% if @factions.blank? %>
            <tr>
                  <td>
                        <em>No existen facciones</em>
                  </td>
            </tr>
            <% else %>
            <table>
                  <% if @factions != nil %>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Ciudad</th>
                              <th>Administrador</th>
                              <th>Acceso</th>
                        </tr>
                        <tbody>
                              <%end %>

                              <% @factions.each do |f| %>
                              <tr>
                                    <td><%= link_to  "#{f.name}", f %></td>
                                    <td><%= link_to "#{f.city.name}", f.city %></td>
                                    <td><%= link_to "#{f.administrator.username}", f.administrator %></td>
                                    <td><%= f.access %></td>
                              </tr>
                              <% end %>
                        </tbody>
                  </thead>
            </table>
            <% end %>
      </div>
</div>
