<div class="panel">
      <div class='info-user-box'>
            <div class="avatar-box">
                  <%if @faction.logo_file_name %>
                  <%= image_tag(@faction.logo.url(:medium))%>
                  <%end%>
            </div>

            <div class="title-box">
                  <%=@faction.name%>
            </div>

            <div class="content-box">
                  <table>
                        <thead>
                              <tr>
                                    <th>Ciudad</th>
                                    <th>Administrador</th>
                                    <th>Acceso</th>
                                    <th></th>
                                    <th></th>
                              </tr>
                        </thead>
                        <tbody>
                              <% if @faction.blank? %>
                              <tr>
                                    <td colspan="6">
                                          <em>No se ha encontrado la facción</em>
                                    </td>
                              </tr>
                              <% else %>
                              <tr>
                                    <td>
                                          <%= @faction.city.name %>
                                    </td>
                                    <td>
                                          <%= @faction.administrator.username %>
                                    </td>
                                    <td>
                                          <%= @faction.access %>
                                    </td>
                                    <% if @faction.administrator_id.to_s == @user.id.to_s %>
                                    <td>
                                              <%= link_to  edit_faction_url(@faction)  do %>
                                                  <i class="fa fa-pencil"></i>
                                                  <%end%>

                                    </td>
                                    <td>
                                          <%= link_to @faction, method: :delete, data: {confirm: "¿estás seguro?"} do %>
                                           <i class="fa fa-times fa-3"></i>
                                          <% end %>
                                    </td>
                                    <% end %>

                              </tr>
                              <% end %>
                        </tbody>
                  </table>
            </div>
      </div>

      <%if session[:user_id]%>
      <%if @faction.users.find_by_id(session[:user_id]) == nil%>
      <div class='subscribirse'>
            <%= button_to "Subscribirse", faction_join_path(@faction.id), :method => "post" %>
      </div>
      <%end%>
      <%end%>

      <%if @faction.users.find_by_id(session[:user_id]) != nil%>
      <div class='retirarse'>
            <%= button_to "retirarse", faction_leave_path(@faction.id), :method => "post" %>
      </div>
      <br>
      <div class='content-box'>
            <% if @faction.administrator_id.to_s == @user.id.to_s %>
            Eres administrador de esta facción.
            <%else%>

            <%= 'Eres miembro de esta facción. '%>
            <%end%>
      </div>
      <%end%>

</div>
