%h1 Showing a picture
%table
  %thead
    %tr
      %th Nombre
      %th Ciudad
      %th Descripción
      %th Tiempo mínimo de check-in
      %th Edit
      %th Elimnar
  %tbody
    - if @picture.blank?
      %tr
        %td{:colspan => "6"}
          %em No se ha encontrado el punto de interés
    - else
      %tr
        %td= @picture.name
        %td= @picture.city.name
        / Declarado en el modelo
        %td= @picture.description
        %td= @picture.minCheckInTime
        %td= link_to 'editar', edit_picture_url(@picture)
        %td
          = link_to [@picture], method: :delete do
            eliminar
