.form-content-box

      .field
            .col-md-3
                  = f.label :name, 'Nombre', class: 'control-label'
            .col-md-9
                  = f.text_field :name, class: 'form-control', required: true
      .field
            .col-md-3
                  = f.label :description, 'Descripcion', class: 'control-label'
            .col-md-9
                  = f.text_area :description, class: 'form-control', required: true
      .field
            .col-md-3
                  = f.label :effect, 'Efectos', class: 'control-label'
            .col-md-9
                  = f.text_field :effect, class: 'form-control', required: true
